In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Cleaned_data.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Roll no                                     46 non-null     object
 1   Gender                                      46 non-null     object
 2   Wake up time                                46 non-null     float64
 3   First thing to do                           46 non-null     object
 4   Have breakfast                              46 non-null     object
 5   Energy level rating                         46 non-null     int64
 6   Influence productivity                      46 non-null     object
 7   Morning level change disturbe energy level  46 non-null     object
 8   Sleep time                                  46 non-null     float64
dtypes: float64(2), int64(1), object(6)
memory usage: 3.4+ KB

In [27]:
df.head()

,Roll no,Gender,Wake up time,First thing to do,Have breakfast,Energy level rating,Influence productivity,Morning level change disturbe energy level,Sleep time
0,KCE080BCT001,Male,7.0,check phone,yes,2,no,No,7.0
1,KCE080BCT002,Male,5.0,Exercise,yes,3,not sure,Yes,7.0
2,KCE080BCT003,Male,5.0,Exercise,yes,4,yes,Yes,6.5
3,KCE080BCT004,Female,5.0,check phone,yes,2,yes,Yes,6.0
4,KCE080BCT005,Male,6.5,check phone,yes,4,not sure,No,7.0

In [28]:
df.describe()

       Wake up time  Energy level rating  Sleep time
count     46.000000            46.000000   46.000000
mean       6.406884             3.326087    7.036957
std        1.207791             0.967341    1.183471
min        4.000000             1.000000    3.000000
25%        6.000000             3.000000    6.500000
50%        6.500000             3.500000    7.000000
75%        7.000000             4.000000    7.875000
max        9.000000             5.000000   10.000000

Value counts for categorical columns: Find the frequency of each category in columns like Gender, First thing to do, Have breakfast, etc.

In [29]:
df['Gender'].value_counts()

Gender
Male      33
Female    13
Name: count, dtype: int64

In [30]:
df['First thing to do'].value_counts()

First thing to do
check phone       30
take breakfast     7
Exercise           5
drink water        1
sleep              1
Wear Spects        1
Shower             1
Name: count, dtype: int64

In [31]:

df['Have breakfast'].value_counts()

Have breakfast
yes    29
no     17
Name: count, dtype: int64

1. Group Data by Wake-up Time Intervals

In [32]:

# Assuming the DataFrame is named df
df['Wake up category'] = pd.cut(df['Wake up time'], 
                                bins=[0, 7, 8, float('inf')], 
                                labels=['Early risers', 'Mid risers', 'Late risers'])

# Check the categories
df['Wake up category'].value_counts()

Wake up category
Early risers    36
Mid risers       7
Late risers      3
Name: count, dtype: int64

2. Calculate Average Energy Levels for Different Routines

In [33]:
# Example: Grouping by 'First thing to do'
energy_by_routine = df.groupby('First thing to do')['Energy level rating'].mean()
energy_by_routine

First thing to do
Exercise          4.000000
Shower            4.000000
Wear Spects       4.000000
check phone       3.066667
drink water       3.000000
sleep             4.000000
take breakfast    3.714286
Name: Energy level rating, dtype: float64

3. Compare Productivity Levels Among Students with and Without Breakfast

In [34]:
# For comparison of productivity based on breakfast
productivity_by_breakfast = df.groupby('Have breakfast')['Energy level rating'].mean()
productivity_by_breakfast

Have breakfast
no     2.705882
yes    3.689655
Name: Energy level rating, dtype: float64

4. Identify Trends or Correlations
Trend 1: "Students who wake up earlier tend to report higher energy levels."

In [35]:
energy_by_wake_up_time = df.groupby('Wake up category')['Energy level rating'].mean()
energy_by_wake_up_time

C:\Users\Bipin Manandhar\AppData\Local\Temp\ipykernel_22364\4093039976.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  energy_by_wake_up_time = df.groupby('Wake up category')['Energy level rating'].mean()

Wake up category
Early risers    3.472222
Mid risers      3.285714
Late risers     1.666667
Name: Energy level rating, dtype: float64

Trend 2: “Skipping breakfast leads to lower productivity scores."

In [36]:
# Productivity score comparison for those with and without breakfast
breakfast_influence = df.groupby('Have breakfast')['Energy level rating'].mean()
breakfast_influence

Have breakfast
no     2.705882
yes    3.689655
Name: Energy level rating, dtype: float64

5. Additional Statistical Insights

In [37]:
# Correlation matrix for numerical columns
correlation_matrix = df[['Wake up time', 'Energy level rating', 'Sleep time']].corr()
correlation_matrix

                     Wake up time  Energy level rating  Sleep time
Wake up time             1.000000            -0.421043    0.494358
Energy level rating     -0.421043             1.000000   -0.200989
Sleep time               0.494358            -0.200989    1.000000