Predicting Stock Prices

Objective : 
- Building a model to predict future stock prices based on historical data.


Collection of Dataset :

- This dataset collected for regression project number 10(predicting stocl prices).This is a real life historical data collected.The stock price id of company "Tesla"

- The historical data was collected from the website ["investing.com"](https://www.investing.com/) and searched stock of Tesla company named as 'TSLA' and downloaded the historical data.

In [ ]:
import pandas as pd
import yfinance as yf
import numpy as np 
import seaborn as sn
import matplotlib.pyplot as plt

In [7]:
#downloading data from yfinance
Tesla_data = yf.download("TSLA",start="2023-01-01", end="2024-12-31")

[*********************100%***********************]  1 of 1 completed

In [8]:
#checking if the data is downloaded or not.
Tesla_data.head()

Price            Close        High         Low        Open     Volume
Ticker            TSLA        TSLA        TSLA        TSLA       TSLA
Date
2023-01-03  108.099998  118.800003  104.639999  118.470001  231402800
2023-01-04  113.639999  114.589996  107.519997  109.110001  180389000
2023-01-05  110.339996  111.750000  107.160004  110.510002  157986300
2023-01-06  113.059998  114.389999  101.809998  103.000000  220911100
2023-01-09  119.769997  123.519997  117.110001  118.959999  190284000