Predicting Stock Prices

Objective : 
- Building a model to predict future stock prices based on historical data.


Collection of Dataset :

- This dataset collected for regression project number 10(predicting stocl prices).This is a real life historical data collected.The stock price id of company "Tesla"

- The historical data was collected from the website ["investing.com"](https://www.investing.com/) and searched stock of Tesla company named as 'TSLA' and downloaded the historical data.

In [ ]:
import pandas as pd
import yfinance as yf
import numpy as np 
import seaborn as sn
import matplotlib.pyplot as plt

In [7]:
Tesla_data = yf.download("TSLA",start="2023-01-01", end="2024-12-31")

[*********************100%***********************]  1 of 1 completed

In [8]:
Tesla_data.head()

Price            Close        High         Low        Open     Volume
Ticker            TSLA        TSLA        TSLA        TSLA       TSLA
Date
2023-01-03  108.099998  118.800003  104.639999  118.470001  231402800
2023-01-04  113.639999  114.589996  107.519997  109.110001  180389000
2023-01-05  110.339996  111.750000  107.160004  110.510002  157986300
2023-01-06  113.059998  114.389999  101.809998  103.000000  220911100
2023-01-09  119.769997  123.519997  117.110001  118.959999  190284000

In [9]:
#checking 
print(Tesla_data.dtypes)

Price   Ticker
Close   TSLA      float64
High    TSLA      float64
Low     TSLA      float64
Open    TSLA      float64
Volume  TSLA        int64
dtype: object

In [10]:
print(Tesla_data.describe())

Price        Close        High         Low        Open        Volume
Ticker        TSLA        TSLA        TSLA        TSLA          TSLA
count   501.000000  501.000000  501.000000  501.000000  5.010000e+02
mean    223.712455  228.239401  218.743054  223.455709  1.160717e+08
std      58.167249   59.642036   56.520703   58.234095  4.055792e+07
min     108.099998  111.750000  101.809998  103.000000  3.716760e+07
25%     183.250000  186.440002  179.660004  183.080002  8.657320e+07
50%     215.990005  220.100006  212.009995  216.199997  1.111736e+08
75%     251.119995  255.759995  245.059998  250.100006  1.359999e+08
max     479.859985  488.540009  457.510010  475.899994  3.065906e+08

<h5 style="color:#00BFFF">Visualizing the Data</h5>