
# Assignment: Exploring Sales Data Using Pandas
Step 1: Import Necessary Libraries

In [1]:
# Import the pandas library
import pandas as pd

# Step 2: Load the Dataset

In [3]:
# Load the dataset from a CSV file
# Replace 'your_file.csv' with the actual file name
import pandas as pd
df = pd.read_csv("sales_data.csv")

# Display the first 5 rows of the dataset
df.head()

,Order_ID,Sales_Region,Regions,Order_Date,Quantity,Unit_Price,Sales,Target
0,101,East,North America,2023-01-15,10,50,500,1000
1,102,West,North America,2023-02-10,5,100,500,800
2,103,East,North America,2023-03-05,8,75,600,1200
3,104,North,North America,2023-04-20,6,60,360,900
4,105,South,North America,2023-05-25,2,120,240,700

# Step 3: Explore the Dataset

In [ ]:
# Display the columns of the dataset
print(df.____)

# Check the data types of each column
print(df.____)

# Display summary statistics for numerical columns
print(df.____())

# Step 4: Handle Missing Values

In [ ]:
# Check for missing values
print(df.____.____())

# Fill missing values in the 'Sales' column with the column mean
df['Sales'] = df['Sales'].____(df['Sales'].____())

# Drop rows with missing values in the 'Target' column
df = df.____(subset=['Target'])

In [ ]:
# Step 5: Data Transformation

In [ ]:
# Create a new column 'Total_Price' by multiplying 'Quantity' and 'Unit_Price'
df['Total_Price'] = df['Quantity'] ____ df['Unit_Price']

# Rename the 'Regions' column to 'Region'
df = df.rename(columns={____: 'Region'})

# Step 6: Filter Data

In [ ]:
# Filter rows where 'Total_Price' is greater than 500
high_sales = df[df['Total_Price'] ____ 500]

# Display the first 5 rows of filtered data
high_sales.____()

# Step 7: Group By and Aggregation

Further explore yourself

In [ ]:
# Group the data by 'Sales_Region' and calculate the total sales
region_sales = df.groupby('Sales_Region')['Sales'].____()
print(region_sales)

# Group the data by 'Sales_Region' and calculate the total and average sales
region_sales = df.groupby('Sales_Region')['Sales'].____(['sum', 'mean'])
print(region_sales)

# Step 8: Save the Processed Dataset

In [ ]:
# Save the cleaned and processed dataset to a new CSV file
df._____("processed_sales_data.csv", index=False)

# Additional Questions

In [ ]:
# Find and display the 5 regions with the highest total sales.

top_regions = df.groupby('Sales_Region')['Sales'].____().____(ascending=False).head(5)
print(top_regions)